.paper-inner {
  margin: 1rem;
  padding: 1rem 0.75rem;
  display: flex;
  flex-direction: column;
}

.project-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1.25rem;
}

.project-card-blurb {
  margin-bottom: 1.25rem;
  width: 90%;
}

.project-card-header a {
  text-decoration: none;
  color: rgb(15, 15, 15);
  font-size: 1rem;
}

.project-card-header a:hover {
  text-decoration: underline;
}

.project-card-header a:visited {
  color: rgb(15, 15, 15);
}

.project-name {
  font-weight: bold;
  font-size: 1.25rem;
}

.project-tag {
  margin-right: .25rem;
  display: inline;
}

@media only screen and (max-width: 900px) {
  .project-card-blurb {
    width: 100%;
  }
}