a {
    text-decoration: none;
    color: rgb(15, 15, 15);
}
    
a:hover {
    text-decoration: underline;
}
    
a:visited {
    color: rgb(15, 15, 15);
}

.post-div {
    margin: 1rem;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-items: baseline; */
}

.post-div-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}