@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

body {
  background-color: rgb(231, 231, 231);
  font-family: "Montserrat";
  font-size: 1.15rem;
  color: rgb(5, 5, 5);
  overflow-y: scroll;
}

.body {
  display: flex;
  flex-direction: row;
}

.gutter {
  flex: 1 0 0;
}

.main {
  flex: 3 0 0;
}